h1.main {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.wrapper.border,
.wrapper-half.border {
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

h2,
.products-list li.products-list-title {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

h2,
.product-code {
  font-size: 12px;
  line-height: 16px;
}

.product-quantity,
.summary input,
.summary ul li,
.summary-total-cost {
  font-size: 14px;
  line-height: 17px;
}

.product h1 {
  font-size: 16px;
  line-height: 24px;
}

.products button.count,
.summary-total-price {
  font-size: 20px;
  line-height: 25px;
}

h2 {
  color: #717285;
  letter-spacing: 0;
  font-weight: 300;
}

h2+* {
  margin-top: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/background.png");
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

.App,
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  padding: 32px 0;
}

.wrapper-half {
  padding: 24px 0;
}

.tableHead {
  padding: 32px 0;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row+.row {
  margin-top: 32px;
}

[class*="col-"] {
  display: flex;
  align-items: center;
}

[class*="col-"]:nth-child(n + 2) {
  justify-content: center;
}

.col-product {
  width: 312px;
}

.col-quantity {
  width: 136px;
}

.col-price {
  width: 136px;
}

.col-total {
  width: 104px;
}

input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

.currency {
  margin-left: 4px;
}

.products {
  padding: 40px 32px 40px 56px;
}

.products button.count {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #7350ff;
  font-weight: bold;
  cursor: pointer;
}

.products {
  flex: 1;
}

.products-list {
  position: relative;
  width: 100%;
}

.product-image {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.product-image img {
  margin-right: 16px;
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
}

.product-price {
  color: #000000;
  font-size: 16px;
}

.product .clear {
  border: none;
  background: transparent;
}

.product .clear span {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}

.product .clear span:before,
.product .clear span:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 8px;
  background-color: #a6a7b3;
  transform: rotate(-45deg);
  transform-origin: center center;
}

.product .clear span:before {
  transform: rotate(45deg);
}

.product h1 {
  color: #7350ff;
}

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

.summary>* {
  width: 100%;
}

.summary-items-price {
  font-size: 16px;
  font-weight: bold;
}

.summary input {
  margin: 8px auto;
  color: #a6a7b3;
  text-indent: 16px;
  text-transform: uppercase;
}

.summary input::placeholder {
  color: #a6a7b3;
  text-transform: lowercase;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
}

.summary ul li>*:nth-child(2) {
  font-weight: bold;
}

.summary ul li+li {
  margin-top: 20px;
}

.summary-total {
  align-self: flex-end;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}

.summary-total-cost {
  text-transform: uppercase;
}

.summary-total-price {
  font-weight: bold;
}

.summary button[type="submit"] {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

.modal_image {
  flex: 1;
}

.modal_image img {
  width: 100%;
  height: 100%;
}

.modal_summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

.modal_summary .close {
  position: absolute;
  right: 32px;
  top: 16px;
  color: #8383AD;
  font-size: 40px;
  text-align: right;
}

.modal_summary .content {
  margin: auto;
}

.modal_summary>.content>h1>#product_price {
  float: right;
}

.modal_summary>.content>p {
  margin-top: 30px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.modal_summary .content button {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}